body {
  margin: 1%;
}
#title {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: black;
  color: white;
  margin: 0% 25% 1% 25%;
  border-radius: 5px;
}
#img-div {
  display: block;
  padding: 1% 1% 0.5% 1%;
  margin: 1px;
  background-color: darkkhaki;
}
#image {
  width: 50%;
  display: block;
  margin: auto;
  border-radius: 3px;
}
#img-caption {
  text-align: center;
}
#tribute-info {
  padding: 1% 20% 2% 20%;
  justify-content: center;
}
#frase,
h4 {
  text-align: center;
}
footer {
  text-align: end;
}
